interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://harmony.uat.earthdata.nasa.gov/jobs/60c6de41-a51a-4283-aa7c-2d530ebab8d9?linktype=https
  response:
    body:
      string: See Other. Redirecting to https://uat.urs.earthdata.nasa.gov/oauth/authorize?response_type=code&client_id=Wll59b2ShcZGg87xl3fRAg&redirect_uri=https%3A%2F%2Fharmony.uat.earthdata.nasa.gov%2Foauth2%2Fredirect&state=c75528d8dae0d2200e065b5e0e92e778
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      Location:
      - https://uat.urs.earthdata.nasa.gov/oauth/authorize?response_type=code&client_id=Wll59b2ShcZGg87xl3fRAg&redirect_uri=https%3A%2F%2Fharmony.uat.earthdata.nasa.gov%2Foauth2%2Fredirect&state=c75528d8dae0d2200e065b5e0e92e778
    status:
      code: 303
      message: See Other
- request:
    body: null
    headers:
    method: GET
    uri: https://uat.urs.earthdata.nasa.gov/oauth/authorize?response_type=code&client_id=Wll59b2ShcZGg87xl3fRAg&redirect_uri=https%3A%2F%2Fharmony.uat.earthdata.nasa.gov%2Foauth2%2Fredirect&state=c75528d8dae0d2200e065b5e0e92e778
  response:
    body:
      string: You are being redirected to https://harmony.uat.earthdata.nasa.gov/oauth2/redirect?code=g72rnR6NQwb84brdTsxRlyqJRunJcdTQ7YWTgk9F7eBgH-F8IsrQxww4xXzqgRMY5FY00FKw6XK5LEmWpaPcGlEVJ3LvilKEORSpTw&state=c75528d8dae0d2200e065b5e0e92e778
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Location:
      - https://harmony.uat.earthdata.nasa.gov/oauth2/redirect?code=g72rnR6NQwb84brdTsxRlyqJRunJcdTQ7YWTgk9F7eBgH-F8IsrQxww4xXzqgRMY5FY00FKw6XK5LEmWpaPcGlEVJ3LvilKEORSpTw&state=c75528d8dae0d2200e065b5e0e92e778
    status:
      code: 302
      message: Found
- request:
    body: null
    headers:
    method: GET
    uri: https://harmony.uat.earthdata.nasa.gov/oauth2/redirect?code=g72rnR6NQwb84brdTsxRlyqJRunJcdTQ7YWTgk9F7eBgH-F8IsrQxww4xXzqgRMY5FY00FKw6XK5LEmWpaPcGlEVJ3LvilKEORSpTw&state=c75528d8dae0d2200e065b5e0e92e778
  response:
    body:
      string: Temporary Redirect. Redirecting to https://harmony.uat.earthdata.nasa.gov/jobs/60c6de41-a51a-4283-aa7c-2d530ebab8d9?linktype=https
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      Location:
      - https://harmony.uat.earthdata.nasa.gov/jobs/60c6de41-a51a-4283-aa7c-2d530ebab8d9?linktype=https
    status:
      code: 307
      message: Temporary Redirect
- request:
    body: null
    headers:
    method: GET
    uri: https://harmony.uat.earthdata.nasa.gov/jobs/60c6de41-a51a-4283-aa7c-2d530ebab8d9?linktype=https
  response:
    body:
      string: '{"username":"jryan95","status":"successful","message":"The job has
        completed successfully","progress":100,"createdAt":"2026-01-20T20:45:22.704Z","updatedAt":"2026-01-20T20:45:49.079Z","dataExpiration":"2026-02-19T20:45:22.704Z","links":[{"href":"https://harmony.uat.earthdata.nasa.gov/jobs/60c6de41-a51a-4283-aa7c-2d530ebab8d9?linktype=https&page=1&limit=2000","title":"The
        current page","type":"application/json","rel":"self"}],"labels":[],"request":"https://harmony.uat.earthdata.nasa.gov/C1274178386-LARC_CLOUD/ogc-api-coverages/1.0.0/collections/parameter_vars/coverage/rangeset?forceAsync=true&granuleId=G1275705373-LARC_CLOUD&format=image%2Fpng&variable=product%2Fcolumn_amount_o3","numInputGranules":1,"jobID":"60c6de41-a51a-4283-aa7c-2d530ebab8d9"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"2f4-xZQWHcIBs+pnSKv9lxiHcN0TJxc"
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://harmony.uat.earthdata.nasa.gov/jobs/60c6de41-a51a-4283-aa7c-2d530ebab8d9?linktype=s3
  response:
    body:
      string: '{"username":"jryan95","status":"successful","message":"The job has
        completed successfully","progress":100,"createdAt":"2026-01-20T20:45:22.704Z","updatedAt":"2026-01-20T20:45:49.079Z","dataExpiration":"2026-02-19T20:45:22.704Z","links":[{"href":"https://harmony.uat.earthdata.nasa.gov/jobs/60c6de41-a51a-4283-aa7c-2d530ebab8d9?linktype=s3&page=1&limit=2000","title":"The
        current page","type":"application/json","rel":"self"}],"labels":[],"request":"https://harmony.uat.earthdata.nasa.gov/C1274178386-LARC_CLOUD/ogc-api-coverages/1.0.0/collections/parameter_vars/coverage/rangeset?forceAsync=true&granuleId=G1275705373-LARC_CLOUD&format=image%2Fpng&variable=product%2Fcolumn_amount_o3","numInputGranules":1,"jobID":"60c6de41-a51a-4283-aa7c-2d530ebab8d9"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"2f1-b0Cm0wV82BHxA0lzpZmKudRDANo"
    status:
      code: 200
      message: OK
version: 1
