interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://harmony.uat.earthdata.nasa.gov/jobs/3d276f84-56e2-4f0a-acb2-35b9fcaaa317?linktype=https
  response:
    body:
      string: See Other. Redirecting to https://uat.urs.earthdata.nasa.gov/oauth/authorize?response_type=code&client_id=Wll59b2ShcZGg87xl3fRAg&redirect_uri=https%3A%2F%2Fharmony.uat.earthdata.nasa.gov%2Foauth2%2Fredirect&state=0cd0e2be0941f7771d0da54477da520e
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      Location:
      - https://uat.urs.earthdata.nasa.gov/oauth/authorize?response_type=code&client_id=Wll59b2ShcZGg87xl3fRAg&redirect_uri=https%3A%2F%2Fharmony.uat.earthdata.nasa.gov%2Foauth2%2Fredirect&state=0cd0e2be0941f7771d0da54477da520e
    status:
      code: 303
      message: See Other
- request:
    body: null
    headers:
    method: GET
    uri: https://uat.urs.earthdata.nasa.gov/oauth/authorize?response_type=code&client_id=Wll59b2ShcZGg87xl3fRAg&redirect_uri=https%3A%2F%2Fharmony.uat.earthdata.nasa.gov%2Foauth2%2Fredirect&state=0cd0e2be0941f7771d0da54477da520e
  response:
    body:
      string: You are being redirected to https://harmony.uat.earthdata.nasa.gov/oauth2/redirect?code=_kCf8ngzcrvVkTigL8t7bIP6WXGWh8iiAlWYnR5ixntlh3BrhN4LygfHofuoyFZu37kmv6BvEUZ8PTXO0QVJr_AoP3pSarzPVgNt6g&state=0cd0e2be0941f7771d0da54477da520e
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Location:
      - https://harmony.uat.earthdata.nasa.gov/oauth2/redirect?code=_kCf8ngzcrvVkTigL8t7bIP6WXGWh8iiAlWYnR5ixntlh3BrhN4LygfHofuoyFZu37kmv6BvEUZ8PTXO0QVJr_AoP3pSarzPVgNt6g&state=0cd0e2be0941f7771d0da54477da520e
    status:
      code: 302
      message: Found
- request:
    body: null
    headers:
    method: GET
    uri: https://harmony.uat.earthdata.nasa.gov/oauth2/redirect?code=_kCf8ngzcrvVkTigL8t7bIP6WXGWh8iiAlWYnR5ixntlh3BrhN4LygfHofuoyFZu37kmv6BvEUZ8PTXO0QVJr_AoP3pSarzPVgNt6g&state=0cd0e2be0941f7771d0da54477da520e
  response:
    body:
      string: Temporary Redirect. Redirecting to https://harmony.uat.earthdata.nasa.gov/jobs/3d276f84-56e2-4f0a-acb2-35b9fcaaa317?linktype=https
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      Location:
      - https://harmony.uat.earthdata.nasa.gov/jobs/3d276f84-56e2-4f0a-acb2-35b9fcaaa317?linktype=https
    status:
      code: 307
      message: Temporary Redirect
- request:
    body: null
    headers:
    method: GET
    uri: https://harmony.uat.earthdata.nasa.gov/jobs/3d276f84-56e2-4f0a-acb2-35b9fcaaa317?linktype=https
  response:
    body:
      string: '{"username":"jryan95","status":"successful","message":"The job has
        completed successfully","progress":100,"createdAt":"2026-02-17T17:41:46.120Z","updatedAt":"2026-02-17T17:41:53.185Z","dataExpiration":"2026-03-19T17:41:46.120Z","links":[{"title":"STAC
        catalog","href":"https://harmony.uat.earthdata.nasa.gov/stac/3d276f84-56e2-4f0a-acb2-35b9fcaaa317/","rel":"stac-catalog-json","type":"application/json"},{"href":"https://harmony.uat.earthdata.nasa.gov/service-results/harmony-uat-staging/public/3d276f84-56e2-4f0a-acb2-35b9fcaaa317/9202859/PREFIRE_SAT2_2B-FLX_S07_R00_20210721013413_03040.nc.G00.png","title":"PREFIRE_SAT2_2B-FLX_S07_R00_20210721013413_03040.nc.G00.png","type":"image/png","rel":"data","bbox":[-180,-90,180,90],"temporal":{"start":"2021-07-21T01:34:13.165Z","end":"2021-07-21T03:09:30.805Z"}},{"href":"https://harmony.uat.earthdata.nasa.gov/service-results/harmony-uat-staging/public/3d276f84-56e2-4f0a-acb2-35b9fcaaa317/9202859/PREFIRE_SAT2_2B-FLX_S07_R00_20210721013413_03040.nc.G00.pgw","title":"PREFIRE_SAT2_2B-FLX_S07_R00_20210721013413_03040.nc.G00.pgw","type":"text/plain","rel":"data","bbox":[-180,-90,180,90],"temporal":{"start":"2021-07-21T01:34:13.165Z","end":"2021-07-21T03:09:30.805Z"}},{"href":"https://harmony.uat.earthdata.nasa.gov/service-results/harmony-uat-staging/public/3d276f84-56e2-4f0a-acb2-35b9fcaaa317/9202859/PREFIRE_SAT2_2B-FLX_S07_R00_20210721013413_03040.nc.G00.png.aux.xml","title":"PREFIRE_SAT2_2B-FLX_S07_R00_20210721013413_03040.nc.G00.png.aux.xml","type":"application/xml","rel":"data","bbox":[-180,-90,180,90],"temporal":{"start":"2021-07-21T01:34:13.165Z","end":"2021-07-21T03:09:30.805Z"}},{"href":"https://harmony.uat.earthdata.nasa.gov/jobs/3d276f84-56e2-4f0a-acb2-35b9fcaaa317?linktype=https&page=1&limit=2000","title":"The
        current page","type":"application/json","rel":"self"}],"labels":[],"request":"https://harmony.uat.earthdata.nasa.gov/C1263096190-EEDTEST/ogc-api-coverages/1.0.0/collections/flx/coverage/rangeset?forceAsync=true&outputCrs=EPSG%3A3413&granuleId=G1263096192-EEDTEST&format=image%2Fpng&scaleExtent=-4194304&scaleExtent=-4194304&scaleExtent=4194304&scaleExtent=4194304","numInputGranules":1,"jobID":"3d276f84-56e2-4f0a-acb2-35b9fcaaa317","originalDataSize":"986.88
        KiB","outputDataSize":"128.76 KiB","dataSizePercentChange":"86.95% reduction"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"911-EOup/bEA6ALvQuffbmxUJP+zKm8"
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://harmony.uat.earthdata.nasa.gov/jobs/3d276f84-56e2-4f0a-acb2-35b9fcaaa317?linktype=s3
  response:
    body:
      string: '{"username":"jryan95","status":"successful","message":"The job has
        completed successfully. Contains results in AWS S3. Access from AWS us-west-2
        with keys from https://harmony.uat.earthdata.nasa.gov/cloud-access.sh","progress":100,"createdAt":"2026-02-17T17:41:46.120Z","updatedAt":"2026-02[...]
