interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://cmr.uat.earthdata.nasa.gov/search/collections.umm_json?provider=LARC_CLOUD&short_name=PREFIRE_SAT2_2B-FLX_COG&version=R01
  response:
    body:
      string: "{\"hits\":1,\"took\":10,\"items\":[{\"meta\":{\"revision-id\":5,\"deleted\":false,\"format\":\"application/vnd.nasa.cmr.umm+json\",\"provider-id\":\"LARC_CLOUD\",\"has-combine\":false,\"user-id\":\"userexample\",\"has-formats\":true,\"associations\":{\"variables\":[\"V1270130943-LARC_CLOUD\"],\"services\":[\"S1257776354-EEDTEST\"]},\"s3-links\":[\"s3://asdc-prod-protected/PREFIRE/PREFIRE_SAT2_2B-FLX_COG_R01\"],\"has-spatial-subsetting\":false,\"native-id\":\"MMT_a95a070e-9d29-47af-b828-33b31ab09b74\",\"has-transforms\":true,\"association-details\":{\"variables\":[{\"concept-id\":\"V1270130943-LARC_CLOUD\"}],\"services\":[{\"concept-id\":\"S1257776354-EEDTEST\"}]},\"has-variables\":true,\"concept-id\":\"C1273150419-LARC_CLOUD\",\"revision-date\":\"2025-04-11T15:00:34.487Z\",\"has-temporal-subsetting\":false,\"concept-type\":\"collection\"},\"umm\":{\"DataLanguage\":\"eng\",\"AdditionalAttributes\":[{\"Name\":\"CUMULUS\",\"Description\":\"Cumulus
        flag\",\"DataType\":\"BOOLEAN\"}],\"SpatialExtent\":{\"HorizontalSpatialDomain\":{\"Geometry\":{\"BoundingRectangles\":[{\"EastBoundingCoordinate\":180,\"NorthBoundingCoordinate\":90,\"SouthBoundingCoordinate\":-90,\"WestBoundingCoordinate\":-180}],\"CoordinateSystem\":\"GEODETIC\"},\"ResolutionAndCoordinateSystem\":{\"HorizontalDataResolution\":{\"VariesResolution\":\"Varies\"}}},\"SpatialCoverageType\":\"HORIZONTAL\",\"GranuleSpatialRepresentation\":\"GEODETIC\"},\"CollectionProgress\":\"PLANNED\",\"StandardProduct\":false,\"ScienceKeywords\":[{\"Category\":\"EARTH
        SCIENCE\",\"Topic\":\"ATMOSPHERE\",\"Term\":\"ATMOSPHERIC RADIATION\",\"VariableLevel1\":\"RADIATIVE
        FLUX\"},{\"Category\":\"EARTH SCIENCE\",\"Topic\":\"ATMOSPHERE\",\"Term\":\"ATMOSPHERIC
        RADIATION\",\"VariableLevel1\":\"EARTH RADIATION BUDGET\"},{\"Category\":\"EARTH
        SCIENCE\",\"Topic\":\"ATMOSPHERE\",\"Term\":\"ATMOSPHERIC RADIATION\",\"VariableLevel1\":\"OUTGOING
        LONGWAVE RADIATION\"},{\"Category\":\"EARTH SCIENCE\",\"Topic\":\"ATMOSPHERE\",\"Term\":\"ATMOSPHERIC
        RADIATION\",\"VariableLevel1\":\"LONGWAVE RADIATION\",\"VariableLevel2\":\"UPWELLING
        LONGWAVE RADIATION\"}],\"TemporalExtents\":[{\"RangeDateTimes\":[{\"BeginningDateTime\":\"2024-06-29T00:00:00.000Z\"}],\"PrecisionOfSeconds\":3,\"EndsAtPresentFlag\":true}],\"ProcessingLevel\":{\"Id\":\"2\",\"ProcessingLevelDescription\":\"Result
        of analysis of lower level data\"},\"DOI\":{\"Authority\":\"https://doi.org/\",\"DOI\":\"10.5067/PREFIRE-SAT2/PREFIRE/FLX_COG_L2B.R01\"},\"ShortName\":\"PREFIRE_SAT2_2B-FLX_COG\",\"EntryTitle\":\"Polar
        Radiant Energy in the Far InfraRed Experiment (PREFIRE) Spectral Flux from
        PREFIRE Satellite 2 COG R01\",\"PublicationReferences\":[{\"OnlineResource\":{\"Name\":\"American
        Meteorological Society\",\"Linkage\":\"https://journals.ametsoc.org/view/journals/bams/102/7/BAMS-D-20-0155.1.xml\",\"Protocol\":\"https\",\"MimeType\":\"application/pdf\"},\"Volume\":\"102\",\"Publisher\":\"American
        Meteorological Society\",\"Title\":\"The Polar Radiant Energy in the Far InfraRed
        Experiment: A New Perspective on Polar Longwave Energy Exchanges\",\"DOI\":{\"DOI\":\"https://doi.org/10.1175/BAMS-D-20-0155.1\"},\"Issue\":\"7\",\"PublicationDate\":\"2021-07-01T00:00:00.000Z\",\"Author\":\"L'Ecuyer,T.S,
        B.J. Drouin, J. Anheuser, M. Grames, D. Henderson, X. Huang, B.H. Kahn, J.E.
        Kay, B.H. Lim, M. Mateling, A. Merelli, N.B. Miller, S. Padmanabhan, C. Peterson,
        N. Schlegel, M.L. White, and Y Xie\",\"OtherReferenceDetails\":\"Boston, MA\",\"Series\":\"Bulletin
        of the American Meteorological Society\",\"Pages\":\"E1431-E1449\"}],\"DirectDistributionInformation\":{\"S3BucketAndObjectPrefixNames\":[\"s3://asdc-prod-protected/PREFIRE/PREFIRE_SAT2_2B-FLX_COG_R01\"],\"Region\":\"us-west-2\",\"S3CredentialsAPIEndpoint\":\"https://data.asdc.uat.earthdata.nasa.gov/s3credentials\",\"S3CredentialsAPIDocumentationURL\":\"https://data.asdc.uat.earthdata.nasa.gov/s3credentialsREADME\"},\"AccessConstraints\":{\"Value\":4,\"Description\":\"WORLD\"},\"MetadataLanguage\":\"eng\",\"RelatedUrls\":[{\"Description\":\"Mission
        Logo\",\"URLContentType\":\"VisualizationURL\",\"Type\":\"GET RELATED VISUALIZATION\",\"Subtype\":\"WORLDVIEW\",\"URL\":\"https://asdc.larc.nasa.gov/static/images/project_logos/prefire.png\"},{\"Description\":\"PREFIRE
        Data Set Landing Page ASDC\",\"URLContentType\":\"CollectionURL\",\"Type\":\"DATA
        SET LANDING PAGE\",\"URL\":\"https://asdc.larc.nasa.gov/project/PREFIRE\"},{\"Description\":\"NASA
        JPL PREFIRE Project Page\",\"URLContentType\":\"CollectionURL\",\"Type\":\"PROJECT
        HOME PAGE\",\"URL\":\"https://science.jpl.nasa.gov/projects/prefire/\"},{\"Description\":\"University
        of Wisconsin PREFIRE Project Page\",\"URLContentType\":\"CollectionURL\",\"Type\":\"PROFESSIONAL
        HOME PAGE\",\"URL\":\"https://prefire.ssec.wisc.edu/\"}],\"Abstract\":\"Polar
        Radiant Energy in the Far InfraRed Experiment (PREFIRE) Spectral Flux from
        PREFIRE Satellite 2 (PREFIRE_SAT2_2B-FLX) contains surface emissivity derived
        from data collected by the PREFIRE Thermal Infrared Spectrometer (TIRS-PREFIRE)
        aboard PREFIRE-SAT2. Duel CubeSats each carry a PREFIRE Thermal Infrared Spectrometer
        (TIRS-PREFIRE), a push broom spectrometer with 63 channels measuring mid-
        and far-infrared (FIR) radiation from approximately[...]
