interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://cmr.uat.earthdata.nasa.gov/search/collections.umm_json?provider=POCLOUD&short_name=MUR-JPL-L4-GLOB-v4.1&version=4.1
  response:
    body:
      string: "{\"hits\":1,\"took\":9,\"items\":[{\"meta\":{\"revision-id\":1115,\"deleted\":false,\"format\":\"application/vnd.nasa.cmr.umm+json\",\"provider-id\":\"POCLOUD\",\"has-combine\":false,\"user-id\":\"viviant\",\"has-formats\":true,\"associations\":{\"variables\":[\"V1241047544-POCLOUD\",\"V1241047538-POCLOUD\",\"V1244919092-POCLOUD\",\"V1241047534-POCLOUD\",\"V1241047540-POCLOUD\",\"V1241047546-POCLOUD\",\"V1241047536-POCLOUD\",\"V1241047542-POCLOUD\"],\"services\":[\"S1245706235-POCLOUD\",\"S1245787332-EEDTEST\"],\"tools\":[\"TL1244140294-POCLOUD\"]},\"s3-links\":[\"podaac-ops-cumulus-public/MUR-JPL-L4-GLOB-v4.1/\",\"podaac-ops-cumulus-protected/MUR-JPL-L4-GLOB-v4.1/\"],\"has-spatial-subsetting\":true,\"native-id\":\"GHRSST+Level+4+MUR+Global+Foundation+Sea+Surface+Temperature+Analysis+(v4.1)\",\"has-transforms\":false,\"association-details\":{\"variables\":[{\"concept-id\":\"V1241047544-POCLOUD\"},{\"concept-id\":\"V1241047538-POCLOUD\"},{\"concept-id\":\"V1244919092-POCLOUD\"},{\"concept-id\":\"V1241047534-POCLOUD\"},{\"concept-id\":\"V1241047540-POCLOUD\"},{\"concept-id\":\"V1241047546-POCLOUD\"},{\"concept-id\":\"V1241047536-POCLOUD\"},{\"concept-id\":\"V1241047542-POCLOUD\"}],\"services\":[{\"concept-id\":\"S1245706235-POCLOUD\"},{\"concept-id\":\"S1245787332-EEDTEST\"}],\"tools\":[{\"concept-id\":\"TL1244140294-POCLOUD\"}]},\"has-variables\":true,\"concept-id\":\"C1238621141-POCLOUD\",\"revision-date\":\"2025-08-11T11:06:39.505Z\",\"has-temporal-subsetting\":true,\"concept-type\":\"collection\"},\"umm\":{\"DataLanguage\":\"eng\",\"AncillaryKeywords\":[\"GHRSST\",\"sea
        surface temperature\",\"Level 4\",\"SST\",\"surface temperature\",\" MUR\",\"
        foundation SST\",\" SST anomaly\",\" anomaly\"],\"CollectionCitations\":[{\"Creator\":\"JPL
        MUR MEaSUREs Project\",\"OnlineResource\":{\"Linkage\":\"https://podaac.jpl.nasa.gov/MEaSUREs-MUR\"},\"Publisher\":\"JPL
        NASA\",\"Title\":\"GHRSST Level 4 MUR Global Foundation Sea Surface Temperature
        Analysis\",\"SeriesName\":\"GHRSST Level 4 MUR Global Foundation Sea Surface
        Temperature Analysis\",\"OtherCitationDetails\":\"JPL MUR MEaSUREs Project,
        JPL NASA, 2015-03-11, GHRSST Level 4 MUR Global Foundation Sea Surface Temperature
        Analysis (v4.1)\",\"ReleaseDate\":\"2015-03-11T00:00:00.000Z\",\"Version\":\"4.1\",\"ReleasePlace\":\"Jet
        Propulsion Laboratory\"}],\"AdditionalAttributes\":[{\"DataType\":\"DATETIME\",\"Description\":\"Earliest
        Granule Start Time for dataset.\",\"Name\":\"earliest_granule_start_time\",\"Value\":\"2002-06-01T09:00:00.000Z\"},{\"DataType\":\"DATETIME\",\"Description\":\"Latest
        Granule Stop/End Time for dataset.\",\"Name\":\"latest_granule_end_time\",\"Value\":\"2021-01-25T09:00:00.000Z\"},{\"DataType\":\"STRING\",\"Description\":\"Dataset
        citation series name\",\"Name\":\"Series Name\",\"Value\":\"GHRSST Level 4
        MUR Global Foundation Sea Surface Temperature Analysis\"},{\"DataType\":\"STRING\",\"Description\":\"Dataset
        Persistent ID\",\"Name\":\"Persistent ID\",\"Value\":\"PODAAC-GHGMR-4FJ04\"}],\"SpatialExtent\":{\"GranuleSpatialRepresentation\":\"CARTESIAN\",\"HorizontalSpatialDomain\":{\"Geometry\":{\"BoundingRectangles\":[{\"EastBoundingCoordinate\":180,\"NorthBoundingCoordinate\":90,\"SouthBoundingCoordinate\":-90,\"WestBoundingCoordinate\":-180}],\"CoordinateSystem\":\"CARTESIAN\"},\"ResolutionAndCoordinateSystem\":{\"Description\":\"Projection
        Type: Cylindrical Lat-Lon, Projection Detail: Geolocation information included
        for each pixel\",\"GeodeticModel\":{\"DenominatorOfFlatteningRatio\":298.2572236,\"EllipsoidName\":\"WGS
        84\",\"HorizontalDatumName\":\"World Geodetic System 1984\",\"SemiMajorAxis\":6378137},\"HorizontalDataResolution\":{\"GenericResolutions\":[{\"Unit\":\"Decimal
        Degrees\",\"XDimension\":0.01,\"YDimension\":0.01}]}}},\"SpatialCoverageType\":\"HORIZONTAL\"},\"CollectionProgress\":\"ACTIVE\",\"StandardProduct\":false,\"ScienceKeywords\":[{\"Category\":\"EARTH
        SCIENCE\",\"DetailedVariable\":\"FOUNDATION SEA SURFACE TEMPERATURE\",\"Term\":\"OCEAN
        TEMPERATURE\",\"Topic\":\"OCEANS\",\"VariableLevel1\":\"SEA SURFACE TEMPERATURE\"}],\"TemporalExtents\":[{\"RangeDateTimes\":[{\"BeginningDateTime\":\"2002-05-31T21:00:00.000Z\"}]}],\"ProcessingLevel\":{\"Id\":\"4\",\"ProcessingLevelDescription\":\"Level
        4  following GHRSST Data Specification\"},\"DOI\":{\"Authority\":\"https://doi.org\",\"DOI\":\"10.5067/GHGMR-4FJ04\"},\"ShortName\":\"MUR-JPL-L4-GLOB-v4.1\",\"EntryTitle\":\"GHRSST
        Level 4 MUR Global Foundation Sea Surface Temperature Analysis (v4.1)\",\"PublicationReferences\":[{\"Author\":\"Chin,
        T.M,  J. Vazquez-Cuervo, and E.M. Armstrong\",\"DOI\":{\"DOI\":\"https://doi.org/10.1016/j.rse.2017.07.029\\r\\n\"},\"Pages\":\"154-169\",\"PublicationDate\":\"2017-10-01T00:00:00.000Z\",\"Publisher\":\"Remote
        Sensing of Environment \",\"Title\":\" A multi-scale high-resolution analysis
        of global sea surface temperature\",\"Volume\":\"200 \"}],\"DirectDistributionInformation\":{\"Region\":\"us-west-2\",\"S3BucketAndObjectPrefixNames\":[\"podaac-ops-cumulus-public/MUR-JPL-L4-GLOB-v4.1/\",\"podaac-ops-cumulus-protected/MUR-JPL-L4-GLOB-v4.1/\"],\"S3CredentialsAPIDocumentationURL\":\"https://archive.podaac.earthdata.nasa.gov/s3credentialsREADME\",\"S3CredentialsAPIEndpoint\":\"https://archive.podaac.earthdata.nasa.gov/s3credentials\"},\"RelatedUrls\":[{\"Description\":\"Data
        Use and Citation Guidelines\",\"Subtype\":\"DATA CITATION GUIDELINES\",\"Type\":\"VIEW
        RELATED INFORMATION\",\"URL\":\"https://podaac.jpl.nasa.gov/CitingPODAAC\",\"URLContentType\":\"PublicationURL\"},{\"Description\":\"Group
        for High Resolution Sea Surface Temperature Information\",\"Subtype\":\"GENERAL
        DOCUMENTATION\",\"Type\":\"VIEW RELATED INFORMATION\",\"URL\":\"https://ghrsst.jpl.nasa.gov\",\"URLContentType\":\"PublicationURL\"},{\"Description\":\"Homepage
        for the NASA MEaSUREs projects\",\"Subtype\":\"GENERAL DOCUMENTATION\",\"Type\":\"VIEW
        RELATED INFORMATION\",\"URL\":\"https://earthdata.nasa.gov/esds/competitive-programs/measures/m[...]
